
AD/Library/ArtifactDB
AD/Library/Artifacts/20/203f8941b4b071a7b62a458a0cb83ddf
AD/Library/Artifacts/7e/7e620811ac6395908b1cab4c84050293
AD/Library/Artifacts/c2/c231e8302b6ace0d4cf0061fa71f5b7f
AD/Library/CurrentMaximizeLayout.dwlt
AD/Library/EditorInstance.json
AD/Library/SceneVisibilityState.asset
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/SourceAssetDB
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe7.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe8.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe9.log
AD/Temp/__Backupscenes/0.backup
AD/Temp/Assembly-CSharp-Editor.dll.hash
AD/Temp/Assembly-CSharp.dll.hash
AD/Temp/CompilationLog.txt
AD/Temp/ProcessJobs/99cd46227c7378b39b92dc5bdb58963e.bakert
AD/Temp/UnityLockfile
AD/Temp/UnityTempFile-c91569943a49ad74f8c90c0ad57ec984
AD/Temp/UnityTempFile-feeb1a8f3bd4951479662c206edae882
AD/Temp/workerlic
AD/Library/ArtifactDB
AD/Library/Artifacts/7e/7e620811ac6395908b1cab4c84050293
AD/Library/Artifacts/c2/c231e8302b6ace0d4cf0061fa71f5b7f
AD/Library/CurrentMaximizeLayout.dwlt
AD/Library/SceneVisibilityState.asset
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/SourceAssetDB
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe7.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe8.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe9.log
AD/Library/ArtifactDB
AD/Library/Artifacts/7e/7e620811ac6395908b1cab4c84050293
AD/Library/Artifacts/c2/c231e8302b6ace0d4cf0061fa71f5b7f
AD/Library/CurrentMaximizeLayout.dwlt
AD/Library/SceneVisibilityState.asset
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/SourceAssetDB
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe7.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe8.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe9.log
AD/[Ll]ibrary/
AD/[Tt]emp/
AD/[Oo]bj/
AD/[Bb]uild/
AD/[Bb]uilds/
AD/[Ll]ogs/
AD/[Uu]ser[Ss]ettings/