
AD/Library/ArtifactDB
AD/Library/Artifacts/20/203f8941b4b071a7b62a458a0cb83ddf
AD/Library/Artifacts/7e/7e620811ac6395908b1cab4c84050293
AD/Library/Artifacts/c2/c231e8302b6ace0d4cf0061fa71f5b7f
AD/Library/CurrentMaximizeLayout.dwlt
AD/Library/EditorInstance.json
AD/Library/SceneVisibilityState.asset
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/SourceAssetDB
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe7.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe8.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe9.log
AD/Temp/__Backupscenes/0.backup
AD/Temp/Assembly-CSharp-Editor.dll.hash
AD/Temp/Assembly-CSharp.dll.hash
AD/Temp/CompilationLog.txt
AD/Temp/ProcessJobs/99cd46227c7378b39b92dc5bdb58963e.bakert
AD/Temp/UnityLockfile
AD/Temp/UnityTempFile-c91569943a49ad74f8c90c0ad57ec984
AD/Temp/UnityTempFile-feeb1a8f3bd4951479662c206edae882
AD/Temp/workerlic
AD/Library/ArtifactDB
AD/Library/Artifacts/7e/7e620811ac6395908b1cab4c84050293
AD/Library/Artifacts/c2/c231e8302b6ace0d4cf0061fa71f5b7f
AD/Library/CurrentMaximizeLayout.dwlt
AD/Library/SceneVisibilityState.asset
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/SourceAssetDB
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe7.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe8.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe9.log
AD/Library/ArtifactDB
AD/Library/Artifacts/7e/7e620811ac6395908b1cab4c84050293
AD/Library/Artifacts/c2/c231e8302b6ace0d4cf0061fa71f5b7f
AD/Library/CurrentMaximizeLayout.dwlt
AD/Library/SceneVisibilityState.asset
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/SourceAssetDB
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe7.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe8.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe9.log
AD/[Ll]ibrary/
AD/[Tt]emp/
AD/[Oo]bj/
AD/[Bb]uild/
AD/[Bb]uilds/
AD/[Ll]ogs/
AD/[Uu]ser[Ss]ettings/
AD/.vs/AD/v17/.suo
AD/.vs/AD/v17/.suo
AD/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/SourceAssetDB
AD/Library/ShaderCache/EditorEncounteredVariants
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
AD/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
AD/Library/SceneVisibilityState.asset
AD/Library/PackageManager/ProjectCache.md5
AD/Library/PackageManager/ProjectCache
AD/Library/Artifacts/f7/f7ad77f3f960b129e672eb1cf763fc73
AD/Library/Artifacts/e7/e7a811e3955ad5cc1d956684e5f4ee82
AD/Library/Artifacts/e6/e6f4d9278064478cde4259cd19501590
AD/Library/Artifacts/e6/e6eb4ec9fdc0379dabe4ec1ca05e8af1
AD/Library/Artifacts/e6/e68d204332616f5eaab71d34c23e9506
AD/Library/Artifacts/e5/e5dc8be6ea4f4be536de6973b82daf36
AD/Library/Artifacts/d3/d3d3b232738bf8c2fb688160fe6019c8
AD/Library/Artifacts/ca/ca04e2dad2427b2542e1f5f5c7707c0a
AD/Library/Artifacts/b8/b888e71074b4ed1e214efbde4dc60152
AD/Library/Artifacts/b7/b72916491c882c405cf676bbb78a0925
AD/Library/Artifacts/b0/b0e1f721dc4670ca9bd0f5ab5306d9f5
AD/Library/Artifacts/94/94aaa4338d4f4c42889f7e36fb4b66d5
AD/Library/Artifacts/93/939ab2a550c45c8d6529c1877289f577
AD/Library/Artifacts/91/91ae48575b914ff2c99af2a4ba8ccecf
AD/Library/Artifacts/90/90db45126cfe8580aa9be310b9a3fcc2
AD/Library/Artifacts/85/8572fa902a7e23225e80297b8d755f93
AD/Library/Artifacts/84/8483af2d59cf68be15eb8080756bbc8d
AD/Library/Artifacts/69/698808218b7241223ef17675dc1d84c7
AD/Library/Artifacts/63/63790c22170dc79dfe20c8ed9074b4ee
AD/Library/Artifacts/5c/5c3b2ce405bae32f4d12989ee6bcc009
AD/Library/Artifacts/5b/5b26994a6d5cdd9a8ea77c9495a6621b
AD/Library/Artifacts/58/588a4d4ee627474bc8edb93a7a9b4bf2
AD/Library/Artifacts/4f/4f440ada9ce85a53c62a668c94c1f4c5
AD/Library/Artifacts/4a/4a7d900b38f0e61472aa84d81033edf0
AD/Library/Artifacts/4a/4a218f7a73cdcb28be576ec0a27b40c5
AD/Library/Artifacts/37/3795ee6df935a1de056f7b9ce3e7d6c1
AD/Library/Artifacts/36/36e7b83a7dc2fb98d6e3718e59d5df6c
AD/Library/Artifacts/31/3107458c1d7edfc8e1f97b325e3d30ed
AD/Library/Artifacts/2b/2b876c0921b02083b4cbcbae69839bfc
AD/Library/Artifacts/27/27e96c7fe9359b5a0663ad7cdc798b97
AD/Library/Artifacts/1e/1ecc988a5480ddd1f885162576561693
AD/Library/Artifacts/1b/1b197169995db47f5a767fba6178e22f
AD/Library/Artifacts/1a/1a19eaf232288ea34ee895a4d8460b0b
AD/Library/ArtifactDB
AD/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
AD/Library/SourceAssetDB
AD/Library/ShaderCache/EditorEncounteredVariants
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
AD/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
AD/Library/SceneVisibilityState.asset
AD/Library/PackageManager/ProjectCache.md5
AD/Library/PackageManager/ProjectCache
AD/Library/Artifacts/f7/f7ad77f3f960b129e672eb1cf763fc73
AD/Library/Artifacts/e7/e7a811e3955ad5cc1d956684e5f4ee82
AD/Library/Artifacts/e6/e6f4d9278064478cde4259cd19501590
AD/Library/Artifacts/e6/e6eb4ec9fdc0379dabe4ec1ca05e8af1
AD/Library/Artifacts/e6/e68d204332616f5eaab71d34c23e9506
AD/Library/Artifacts/e5/e5dc8be6ea4f4be536de6973b82daf36
AD/Library/Artifacts/d3/d3d3b232738bf8c2fb688160fe6019c8
AD/Library/Artifacts/ca/ca04e2dad2427b2542e1f5f5c7707c0a
AD/Library/Artifacts/b8/b888e71074b4ed1e214efbde4dc60152
AD/Library/Artifacts/b7/b72916491c882c405cf676bbb78a0925
AD/Library/Artifacts/b0/b0e1f721dc4670ca9bd0f5ab5306d9f5
AD/Library/Artifacts/94/94aaa4338d4f4c42889f7e36fb4b66d5
AD/Library/Artifacts/93/939ab2a550c45c8d6529c1877289f577
AD/Library/Artifacts/91/91ae48575b914ff2c99af2a4ba8ccecf
AD/Library/Artifacts/90/90db45126cfe8580aa9be310b9a3fcc2
AD/Library/Artifacts/85/8572fa902a7e23225e80297b8d755f93
AD/Library/Artifacts/84/8483af2d59cf68be15eb8080756bbc8d
AD/Library/Artifacts/69/698808218b7241223ef17675dc1d84c7
AD/Library/Artifacts/63/63790c22170dc79dfe20c8ed9074b4ee
AD/Library/Artifacts/5c/5c3b2ce405bae32f4d12989ee6bcc009
AD/Library/Artifacts/5b/5b26994a6d5cdd9a8ea77c9495a6621b
AD/Library/Artifacts/58/588a4d4ee627474bc8edb93a7a9b4bf2
AD/Library/Artifacts/4f/4f440ada9ce85a53c62a668c94c1f4c5
AD/Library/Artifacts/4a/4a7d900b38f0e61472aa84d81033edf0
AD/Library/Artifacts/4a/4a218f7a73cdcb28be576ec0a27b40c5
AD/Library/Artifacts/37/3795ee6df935a1de056f7b9ce3e7d6c1
AD/Library/Artifacts/36/36e7b83a7dc2fb98d6e3718e59d5df6c
AD/Library/Artifacts/31/3107458c1d7edfc8e1f97b325e3d30ed
AD/Library/Artifacts/2b/2b876c0921b02083b4cbcbae69839bfc
AD/Library/Artifacts/27/27e96c7fe9359b5a0663ad7cdc798b97
AD/Library/Artifacts/1e/1ecc988a5480ddd1f885162576561693
AD/Library/Artifacts/1b/1b197169995db47f5a767fba6178e22f
AD/Library/Artifacts/1a/1a19eaf232288ea34ee895a4d8460b0b
AD/Library/ArtifactDB
*.dwlt
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
AD/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
AD/Library/SourceAssetDB
AD/Library/ShaderCache/EditorEncounteredVariants
AD/Library/ScriptAssemblies/Assembly-CSharp.pdb
AD/Library/ScriptAssemblies/Assembly-CSharp.dll
AD/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
AD/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
AD/Library/SceneVisibilityState.asset
AD/Library/PackageManager/ProjectCache.md5
AD/Library/PackageManager/ProjectCache
AD/Library/CurrentLayout-default.dwlt
AD/Library/ArtifactDB
AD/Assembly-CSharp.csproj
AD/AD.sln
AD/.vs/AD/v17/.suo
AD/Logs/shadercompiler-UnityShaderCompiler.exe6.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe5.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe4.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe3.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe2.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe1.log
AD/Logs/shadercompiler-UnityShaderCompiler.exe0.log
